.navbar-toggler {
    float: right;
}
ul .dropdown-menu.show{
    width: fit-content !important;
}

.btn-second{
    background-color: yellow;
}

.user_profile_btn{
    margin-right:50px;
    border: 8px; 
    background-color: #fcc70e;
    color: #1a1449;
}

@media only screen and (max-width: 800px) {
    .dropdown {
       position: relative;
       left: 65%;
        /* margin-right: 10; */
    }
  }