.sidebar-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  vertical-align: top;
  background: transparent;
  border: none;
}

.sidebar-menu-item {
  background-color: #fcc70e;
  width: 100%;
  margin: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: large;
  border-radius: 8px;
  color: #1a1449;
  cursor: pointer;
}

.sidebar-menu-item:hover {
  background-color: #1a1449;
  width: 100%;
  margin: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: large;
  border-radius: 8px;
  border: #fcc70e 2px solid;
  color: #fcc70e;
  cursor: pointer;
}
