.dashboard_details_box {
    border-radius: 8px;
    box-shadow: 0px 4px 50px rgba(232, 232, 232, 0.8);
    background-color: #1a1449;
    height: 100px;
    width: 250px;
    display: flex;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    align-items:center
  }

  .dashboard_details_boxs {
    border-radius: 8px;
    box-shadow: 0px 4px 50px rgba(232, 232, 232, 0.8);
    background-color: #1a1449;
    height: 50px;
    width: 100px;
    display: flex;
    margin: auto;
    margin-top: 119px;

  }

  .details_box {
    border-radius: 8px;
    background-color: #1a1449;
    color: white;
    height: 400;
    margin: auto;
    margin-top: 30px;
  }